<table cellpadding="0" cellspacing="0" border="0">
  <tbody>
    <tr>
    <td>
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <tr>
          <td valign="baseline" style="color:#e31d1a;font-size:14px;line-height:14px;font-weight:bold;font-family:sans-serif,Arial, sans-serif;vertical-align:basline;">{{Name}}</td>
          </tr>
          <tr>
            <td valign="baseline" style="color:#616368;font-size:12px;line-height:14px;font-weight:normal;font-family:sans-serif,Arial, sans-serif;vertical-align:basline;">{{Title}}</td>
          </tr>
          <tr><td height="5"></td></tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table cellpadding="0" cellspacing="0" border="0" style="color:#616368;font-size:14px;font-family:sans-serif,Arial, sans-serif;vertical-align:middle;text-decoration:none;line-height:20px;">
        <tbody>
          {{#if Email}}
          <tr><td height="2"></td></tr>
          <tr>
            <td valign="middle" style="vertical-align:middle;text-decoration:none;"><a style="color:#e31d1a;text-decoration:none !important; text-decoration:none;" href="mailto:{{Email}}"><font style="color:#e31d1a;font-family:sans-serif,Arial, sans-serif;">{{Email}}</font></a></td>
          </tr>
          {{/if}}
        {{#if Mobile}}
        <tr>
          <td valign="middle" style="vertical-align:middle;"><font style="text-decoration:none !important; text-decoration:none;color:#616368;font-family:sans-serif,Arial, sans-serif;">{{Mobile}}</font></td>
        </tr>
        {{/if}}
      </tbody>
    </table>
    </td>
  </tr>
  <tr><td height="15"></td></tr>
  <tr>
    <td>
      <table cellpadding="0" cellspacing="0" border="0" height="39">
        <tr>
          <td><a border="0" href="http://www.web.co.uk"><img border="0" style="display:block;" src="http://www.web.co.uk/public/img/email-logo.gif" alt="Web Logo" width="200">
          </a></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr><td height="15"></td></tr>
  <tr>
    <td><font style="color:#616368;font-size:14px;line-height:14px;font-weight:normal;font-family:sans-serif,Arial;vertical-align:bottom;">Address here…</font></td>
  </tr>
  <tr><td height="5"></td></tr>
  <tr>
    <td style="color:#e31d1a;font-family:sans-serif,Arial, sans-serif;font-size:14px;line-height:20px;font-weight:bold;">
      <a style="color:#e31d1a;text-decoration:none !important; text-decoration:none;" href="http://www.web.co.uk"><font style="color:#e31d1a;">www.web.co.uk</font></a>
    </td>
  </tr>
  <tr><td height="10"></td></tr>
  <tr>
    <td><font style="color:#616368;font-size:10px;line-height:13px;font-weight:normal;font-family:sans-serif,Arial;vertical-align:bottom;">This e-mail (and any attachments) is intended for the personal attention of the addressee(s) and is, therefore, confidential. If you are not the intended recipient please notify the sender immediately at the address shown above, delete immediately from your computer and do not copy or use it or disclose its contents.</font></td>
  </tr>
</tbody>
</table>
